<div style="margin-top: 75px;" class="form">
    <div class="input-container">
      <input [(ngModel)]="usuario.username" id="username"class="input" type="text" placeholder=" " />
      <div class="cut"></div>
      <label for="id" class="placeholder">Usuário</label>
    </div>
    <div class="input-container">
      <input [(ngModel)]="usuario.password" id="password" class="input" type="password" placeholder=" " />
      <div class="cut"></div>
      <label for="nome" class="placeholder">Senha</label>
    </div>
    <div style="text-align: center;">
      <input (click)="logar()" type="submit" class="add-button" value="Logar">
      <input (click)="criarUsuario()" type="submit" class="add-button" value="Criar">
    </div>
    <div style="text-align: center;">
      <span style="color: red; font-size: 12px;" *ngIf="errorMessage !== '' ">{{errorMessage}}</span>
    </div>
</div>