<div *ngIf="departamentoEdit === undefined" class="form">
    <div class="input-container">
      <input [(ngModel)]="departamentoNovo!.id" id="id" class="input" type="number" placeholder=" " />
      <div class="cut"></div>
      <label for="id" class="placeholder">Id</label>
    </div>
    <div class="input-container">
      <input [(ngModel)]="departamentoNovo!.nome" id="nome" class="input" type="text" placeholder=" " />
      <div class="cut"></div>
      <label for="nome" class="placeholder">Nome</label>
    </div>
    <input (click)="adicionar()" type="submit" class="add-button" value="Adicionar">
    <div style="text-align: center;">
      <span style="color: red; font-size: 12px;" *ngIf="errorMessage !== '' ">{{errorMessage}}</span>
    </div>
</div>

<div *ngIf="departamentoEdit !== undefined" class="form">
    <div class="input-container">
      <input disabled [(ngModel)]="departamentoEdit.id" id="id" class="input" type="number" placeholder=" " />
      <div class="cut"></div>
      <label for="id" class="placeholder">Id</label>
    </div>
    <div class="input-container">
      <input [(ngModel)]="departamentoEdit.nome" id="nome" class="input" type="text" placeholder=" " />
      <div class="cut"></div>
      <label for="nome" class="placeholder">Nome</label>
    </div>
    <input (click)="alterar()" type="submit" class="add-button" value="Alterar">
    <div style="text-align: center;">
      <span style="color: red; font-size: 12px;" *ngIf="errorMessage !== '' ">{{errorMessage}}</span>
    </div>
</div>